/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgb(255, 173, 94), rgb(138, 104, 232));
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h2 {
    font-family: Constantia;
}

.button {
    background-color: rgb(240, 205, 255);
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgb(144, 0, 205);
    cursor: pointer;
}

.button-link {
    color: rgb(144, 0, 205);
}

    .button-link:hover {
        font-weight: bold;
        color: rgb(144, 0, 205);
        text-decoration: none;
    }

.left-column {
    padding-right: 50px;
    font-size: 20px;
}

.right-column {
    text-align: center;
    font-size: 20px;
}

.row-bg:nth-child(2n) {
    color: white;
    background: rgb(144, 0, 205);
}

.form-label {
    width: 150px;
}

input, select {
    border-radius: 4px;
}

.temp-buttons {
    position: fixed;
    margin-top: 40px;
    margin-right: 0px;
    border-radius: 8px;
    border: 2px solid rgb(144, 0, 205);
    padding: 10px;
    width: 200px;
    text-align: center;
    background: rgb(176, 223, 255);
    box-shadow: 5px 5px rgb(255, 168, 139);
}

.temp-buttons > form {
    display: inline-block;
}

.temp-buttons > p {
    font-weight: bold;
}

.image-style {
    display: block;
    margin: auto;
    width: 400px;
    border-radius: 8px;
    border: 2px solid rgb(144, 0, 205);
    box-shadow: 5px 5px rgb(255, 168, 139);
    margin-bottom: 10px;
}

.index-title {
    font-family: Constantia;
    font-weight: bold;
    text-align: center;
    margin-bottom: -20px;
    color: rgb(144, 0, 205);
    text-shadow: 1px 1px rgb(255, 80, 23);
}

.detail-title {
    font-family: Constantia;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(144, 0, 205);
    text-shadow: 1px 1px rgb(255, 80, 23);
}

.park-title {
    font-family:'Century Gothic';
    text-align: center;
    text-shadow: 1px 1px rgb(144, 0, 205);
    color: rgb(255, 80, 23);
}

.park-description {
    width: 600px;
    margin: auto;
    text-align: justify;
}

.park {
    border-radius: 8px;
    border: 2px solid rgb(144, 0, 205);
    margin: 20px auto 20px auto;
    padding-bottom: 20px;
    width: 640px;
    background: rgb(255, 208, 179);
    box-shadow: 5px 5px rgb(255, 168, 139);
}

.weather-img {
    width: 100px;
    border-radius: 8px;
}

.detail-list {
    text-align: center;
    list-style-type: none;
    margin: 20px 0 20px 0;
}

.detail-list > p {
    margin: -1px 0 -1px 0;
}

.weather-block {
    display: inline-block;
    width: 104px;
    margin: 0 5px 0 5px;
    vertical-align: top;
    text-align: center;
    padding-left: 5px;
}

.weather {
    margin: auto 20px auto 20px;
}

.forecast-font {
    color: rgb(144, 0, 205);
    text-shadow: 1px 1px rgb(255, 80, 23);
}

.head-img {
    height: inherit;
    margin-top: -12px;
    margin-left: -15px;
    background: white;
}

td, th {
    border: 2px solid black;
    padding: 5px;
}